.forecast {
  grid-area: forecast;
  border-radius: 25px;
  padding: 2vw;
  background-color: #1c1c27;
  opacity: 0.7;
}
.tittle {
  margin-bottom: 2vh;
}
.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.1vh;
  justify-content: space-between;
}
.imgLi {
  width: 3vw;
}
.tempMinMax {
  display: flex;
  align-items: center;
  text-align: right;
}

.weekday {
  text-align: right;
  min-width: 7vw;
}
.dateString {
  margin: 0;
}
.tempMinMax img {
  margin-right: 0.5vw;
}
.temps {
  min-width: 1.7vw;
}
